.tooltip {
    position: relative;
    align: center;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */

     bottom: 100%;
     left: 50%;
     margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
